
@{
    ViewData["Title"] = "OrderSuccess";
}



<h2>Order Sucess!!!</h2>



<h4>Your Order has been Placed Successfully, Please Click @Html.ActionLink("Here", "Index", "Home") to go to Homepage</h4>

